<html>
    
    <head>
        
    </head>
    
    <body>
    <h1 class="text-center">Scrobbler homepage</h1>
    
    <div class="span7 text-center">
    <%= link_to "Scrobbler", 'scrobble', :class => "btn btn-large btn-primary", :id => "scrobbler_button" %>
    </div>
    
    
    </body>
    
</html>

